$extra-small-margin: 8px;
$small-margin: 8px;
$medium-margin: 12px;
$large-margin: 16px;

$orange: #ffa500;
$light-gray: #d3d3d3;
$light-blue: #87ceeb;
$blue: #0000ff;
$red: #ff0000;

$font-color: #333333;
$background-color: #f5f5f5;
