@import './styles/variables';

.App {
  background: $background-color;
  color: $font-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;

  .Card {
    padding: 24px;
  }

  h3 {
    margin-top: $small-margin;
  }
}
